


# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/
api/node_modules
reactclient/node_modules
# Snowpack dependency directory (https://snowpack.dev/)
web_modules/



